* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}

.box {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  cursor: pointer;
}

.boxes div:nth-child(n + 1) {
  border-top: none;
  border-left: none;
}

.boxes div:nth-child(3n + 3) {
  border-right: none;
}

.boxes div:nth-child(n + 7) {
  border-bottom: none;
}

h2 {
  margin: 1rem 0 0;
}

#restart{
  padding: 6px;
  border-radius: 6px;
  width: 6rem;
  margin: 1rem 0 0;
}

h2{
  transition: 0.3s ease;
}
